.App {
padding: 20px;
  text-align: center;
}
body{
  background-color: #d9a8c0;
}
.App-header {
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.my-section-component {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
  overflow-x: auto;
}

.my-section-component 
.column-content {
  width: 100%;
  display: flex;
  overflow: auto;
}

.my-section-component .column-1,
.my-section-component .column-2 {
  flex: 1;
  padding: 10px;
  max-width: 50%;
}

.my-section-component .column-1 {
  border-right: 1px solid #ddd;
}

.my-section-component .column-2 {
  padding-left: 10px;
}

.app-container {
}
.noua-sectiune {
  display: flex;
  justify-content: space-between;
  padding: 0 80px; 
  background-color: #ff99cc;
  font-size: 20px;
}

.stanga {
  text-align: left;
}

.dreapta {
  text-align: right;
}
